<div class="collection-item">
  <div class="collection-img">
    <img src="{{ collection_item | img_url: '225x225' }}">
  </div>
  <div class="text-center font-semibold">
    {{- collection_item.title | escape -}}
  </div>
</div>