{%- form 'product', product, id: form_id -%}
  {%- liquid 
    assign enable_dynamic_buttons = false
    if show_dynamic_checkout != 'product.preorder'
    assign enable_dynamic_buttons = true
    endif
-%}

  {% if enable_dynamic_buttons %}
    <div>
    {% endif %}

    {%-  liquid
        assign default_text = 'products.product.add_to_cart' | t
        assign button_text = 'products.product.add_to_cart' | t
        if template == 'product.preorder'
            assign default_text = 'products.product.preorder' | t
            assign button_text = 'products.product.preorder' | t
        endif
        unless current_variant.available
            assign button_text = 'products.product.sold_out' | t
        endunless
    -%}

    <div>
      <button {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}name="add"class="btn btn--full add-to-cart {% if enable_dynamic_buttons and product.selling_plan_groups == empty %} btn--secondary{% endif %}"{% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <span data-add-to-cart-text data-default-text="{{ default_text }}">
          {{ button_text }}
        </span>
      </button>
    </div>

    <div class="pt-3">
      {%- if enable_dynamic_buttons -%}
        {{ form | payment_button }}
      {%- endif -%}
    </div>

    {%- if enable_dynamic_buttons -%}
    </div>
  {%- endif -%}
{%- endform -%}