{%- assign inventory_visible = false -%}
{%- if current_variant.inventory_management == 'shopify' -%}
  {%- if current_variant.inventory_quantity <= block.settings.inventory_progessbar and current_variant.inventory_quantity >= 0 -%}
    {%- assign inventory_visible = true -%}
  {%- endif -%}
{%- endif -%}

{%- liquid
  if current_variant.inventory_quantity == 0 or current_variant.inventory_policy == 'continue'
    assign inventory_visible = false
  endif

  assign show_incoming = false
  if current_variant.incoming and inventory_visible == false and current_variant.inventory_quantity <= block.settings.inventory_progessbar
    assign show_incoming = true
  endif
-%}

<div class="flex">
    <span class="icon icon--inventory"></span>
    <span data-product-inventory data-threshold="{{ block.settings.inventory_progessbar }}" class="pr-3">
        
        {%- if inventory_visible -%}
            <span>Low stock</span>
        {%- else -%}
            <span>In stock, ready to ship</span>
        {%- endif -%}
    </span>
</div>