{% liquid 
  assign header_width_size = section.settings.logo_width | append: 'x' 
  assign headerLogo = section.settings.logo | img_url : header_width_size
  if section.settings.svg_logo != blank
      assign headerLogo = section.settings.svg_logo
  endif
  assign main_menu =  linklists[section.settings.menu]
  render 'drawer-menu', section: section , menu: main_menu

%}
<header class="relative">
  <div class="page-width">
    <div class="mx-auto ">
      <div class="container">
        <div class=" mx-auto flex header-center justify-between items-center py-4">
          <span class="justify-start pr-3 d-block d-md-none small-menu">
            <svg
              fill="#000000"
              height="14px"
              width="14px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 384.97 384.97"
              xml:space="preserve">
              <g>
                <g id="Menu">
                  <path d="M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z" />
                  <path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     S379.58,180.455,372.939,180.455z" />
                  <path d="M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z" />
                </g>
              </g>
            </svg>
          </span>
          {%- render 'header-nav', section: section, menu: main_menu -%}
          <div class="logo md:w-1/3">
            <a href="/" class="mx-auto block">
              <img
                src="{{- headerLogo -}}"
                class="block mx-auto"
                alt="company-logo">
            </a>
          </div>

          {%- render 'header-icon', section: section -%}
        </div>
      </div>
    </div>
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "Store logo"
      },
      {
        "type": "text",
        "id": "svg_logo",
        "label": "SVG Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 2,
        "default": 100,
        "unit": "px",
        "label": "Custom logo width"
      }, {
        "type": "checkbox",
        "id": "EnableSearch",
        "label": "Enable Search"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ],
    "blocks": [
      {
        "type": "mega-menu",
        "name": "Mega-Menu",
        "settings": [
          {
            "type": "text",
            "id": "collection",
            "label": "MegaMenu Handle"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Link"
          },
          {
            "type": "header",
            "content": "Mega Menu images"
          }, {
            "type": "image_picker",
            "id": "image_1",
            "label": "Images"
          }, {
            "type": "url",
            "id": "image_link_1",
            "label": "Images Link"
          }, {
            "type": "text",
            "id": "image_caption_1",
            "label": "Text"
          }, {
            "type": "header",
            "content": "Mega Menu images"
          }, {
            "type": "image_picker",
            "id": "image_2",
            "label": "Images"
          }, {
            "type": "url",
            "id": "image_link_2",
            "label": "Images Link"
          }, {
            "type": "text",
            "id": "image_caption_2",
            "label": "Text"
          }, {
            "type": "header",
            "content": "Mega Menu images"
          }, {
            "type": "image_picker",
            "id": "image_3",
            "label": "Images"
          }, {
            "type": "url",
            "id": "image_link_3",
            "label": "Images Link"
          }, {
            "type": "text",
            "id": "image_caption_3",
            "label": "Text"
          }, {
            "type": "header",
            "content": "Mega Menu images"
          }, {
            "type": "image_picker",
            "id": "image_4",
            "label": "Images"
          }, {
            "type": "url",
            "id": "image_link_4",
            "label": "Images Link"
          }, {
            "type": "text",
            "id": "image_caption_4",
            "label": "Text"
          }, {
            "type": "text",
            "id": "linktext",
            "label": "Button Text",
            "default": "Write Here"
          }
        ]
      }, {
        "type": "list_item",
        "name": "Mega list",
        "settings": [
          {
            "type": "text",
            "id": "collection",
            "label": "MegaMenu Handle"
          },
          {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Menu"
          },
          {
            "type": "checkbox",
            "id": "hover_image",
            "label": "Change Images on hover"
          },
          {
            "type": "header",
            "content": "mega menu images"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "images"
          }, {
            "type": "url",
            "id": "image_link",
            "label": "Image Link"
          }, {
            "type": "text",
            "id": "image_caption",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}